<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PeerJS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon31e225.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/base31e225.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jQuery.md5.js"></script>
    <script type="text/javascript" src="/js/peer.js"></script>
    <script type="text/javascript" src="/js/js.cookie.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!--script type="text/javascript" src="/demo/terminal2.js"--></script>
    <style type="text/css">
.warning {
  font-size: 12px;
  line-height: 20px;
  padding: 10px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #333;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
  font-weight: 300;
  border-width: 1px 0;
  border-color: #000;
  border-style: solid;
}

.video-streamed {
  width: 450px;
}
    </style>
</head>
<body>
    <div class="main" style="display:block">
        <div class="main_inner">
            <div class="panel">
                <div class="header">
                    <div class="avatar">
                        <img id="peer_nicknameAvatar" class="img">
                    </div>
                    <div class="info">
                        <h3 class="nickname">
                            <span id="peer_nickname" class="display_name ng-binding" contenteditable="true"></span>
                            <a class="opt" href="javascript:;"><i class="web_wechat_add"></i></a>
                        </h3>
                    </div>
                </div>
                <div class="search_bar" id="search_bar">
                    <i class="web_wechat_search"></i>
                    <input class="frm_search ng-isolate-scope ng-pristine ng-valid" type="text" placeholder="搜索">
                </div>
                <div class="tab">
                    <div class="tab_item">
                        <a class="chat" title="聊天" href="#"><i class="web_wechat_tab_chat web_wechat_tab_chat_hl"></i></a>
                    </div>
                    <div class="tab_item ng-scope">
                        <a class="chat" title="阅读" href="#"><i class="web_wechat_tab_public"></i></a>
                    </div>
                    <div class="tab_item no_extra">
                        <a class="chat" title="通讯录" href="#"><i class="web_wechat_tab_friends"></i></a>
                    </div>
                </div>
                <div id="navView" class="ng-scope"></div>
                <div class="nav_view ng-scope">
                    <div class="scroll-wrapper chat_list scrollbar-dynamic" style="position: relative;">
                        <div id="J_NavChatScrollBody" class="chat_list scrollbar-dynamic scroll-scrolly_visible" style="overflow-y: scroll;">
                            <!-- peer list -->
                        </div>
                        <div hidden>
                            <div id="peer_listItemTemplate" class="ng-scope">
                                <div class="peer_listItemChatItem chat_item slide-left ng-scope">
                                    <div class="avatar">
                                        <img id="peer_nicknameAvatar" class="img" alt="">
                                        <i class="peer_numberMessageUnread icon web_wechat_reddot_middle ng-binding ng-scope" style="display: none;">0</i>
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span id="peer_nicknameText" class="nickname_text ng-binding">Tsinghua</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height:100%" class="ng-scope">
                <div id="chatArea" class="box chat ng-scope no-choose">
                    <div class="box_hd">
                        <div class="title_wrap">
                            <div class="title poi">
                                <a id="peer_titleName" class="title_name ng-binding"></a>
                                <i id="peer_downIcon" class="web_wechat_down_icon" style="display: none;"></i>
                            </div>
                        </div>
                    </div>
                    <div id="peer_noChatHint" class="scroll-wrapper box_bd chat_bd scrollbar-dynamic" style="position: absolute;">
                        <div class="box_bd chat_bd scrollbar-dynamic scroll-content" style="margin-bottom: 0px; margin-right: 0px; height: 509px;">
                            <div class="message_empty ng-scope">
                                <i class="web_wechat_nomes_icon"></i>
                                <p class="ng-hide">暂时没有新消息</p>
                                <p class="">未选择聊天</p>
                            </div>
                        </div>
                    </div>
                    <div id="peer_chatAreaTemplate" class="peer_chatAreaItem scroll-wrapper box_bd chat_bd scrollbar-dynamic" style="position: absolute;" hidden>
                        <div class="peer_chatMessageBox box_bd chat_bd scrollbar-dynamic " style="height: 100%; top: 0; margin-bottom: 0px; margin-right: 0px; overflow-y: scroll;">
                            <div class="ng-scope">
                                <div class="clearfix" style="overflow: hidden;">
                                    <div class="message ng-scope me">
                                        <p class="message_system ng-scope"><span class="content ng-binding">Today</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="peer_chatMessageMeTemplate ng-scope" hidden><!-- MESSAGE -->
                                <div class="clearfix" style="overflow: hidden;">
                                    <div class="message ng-scope me">
                                        <img id="peer_chatMessageAvatar" class="avatar">
                                        <div class="content">
                                            <div class="bubble js_message_bubble ng-scope bubble_primary right">
                                                <div class="bubble_cont ng-scope">
                                                    <div id="peer_chatMessageMessagePlaceholder" class="plain">
                                                        <pre class="js_message_plain ng-binding">[message]</pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="peer_chatMessageYouTemplate ng-scope" hidden><!-- MESSAGE -->
                                <div class="clearfix" style="overflow: hidden;">
                                    <div class="message ng-scope you">
                                        <img id="peer_chatMessageAvatar" class="avatar">
                                        <div class="content">
                                            <div class="bubble js_message_bubble ng-scope bubble_default left">
                                                <div class="bubble_cont ng-scope">
                                                    <div id="peer_chatMessageMessagePlaceholder" class="plain">
                                                        <pre class="js_message_plain ng-binding">[message]</pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="peer_inputComponent" class="box_ft ng-scope" style="display: none;">
                        <div class="toolbar" id="tool_bar">
                            <a class="web_wechat_face" href="javascript:;" title="表情"></a>
                            <a class="web_wechat_screencut ng-isolate-scope" href="javascript:;" title="截屏"></a>
                            <a class="web_wechat_pic js_fileupload ng-isolate-scope webuploader-container" href="javascript:;" title="图片和文件"><div class="webuploader-pick"></div><div id="rt_rt_1b4tmjj8t149219br14cp1jha1ldv1" style="position: absolute; top: 0px; left: 0px; width: 30px; height: 30px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" multiple="multiple"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></a>
                        </div>
                        <div class="content ng-isolate-scope">
                            <pre id="editArea" class="flex edit_area ng-isolate-scope ng-valid ng-dirty" contenteditable="true" ></pre>
                            <span class="caret_pos_helper" id="caretPosHelper"></span>
                        </div>
                        <div class="action">
                            <span class="desc ng-scope">按下Enter发送</span>
                            <a id="peer_sendMessage" class="btn btn_send" href="javascript:;">发送</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" hidden>
        <div class="warning browser">
            <div class="important">Your browser version: <span id="browsers"></span><br>
            Currently <strong>Firefox 22+ and Google Chrome 26.0.1403.0 or above</strong> is required.</div>
            For more up to date compatibility information see <a href="http://peerjs.com/status">PeerJS WebRTC Status</a><br>
            Note that this demo may also fail if you are behind stringent firewalls or both you and the remote peer and behind symmetric NATs.
        <div id="log"><strong>Connection status</strong>:<br></div>
        </div>
    </div>
</body>
<script type="text/javascript">
/*var */peerList = [];
/*var */peerid2nickname = {};
/*var */peerActive = null;
/*var */callProgress = {};

/*var */peer = new Peer({
    host: window.location.hostname, port: window.location.port || null, path: '/peerjs',
    config: {'iceServers': [
        { url: 'stun:stun.l.google.com:19302' },
        { url: 'turn:homeo@turn.bistri.com:80', credential: 'homeo' },
        { url: 'turn:yuan@' + window.location.hostname + ':12583', credential: 'yuan' }
    ]},
    debug: 3,
    logFunction: function() {
        if (arguments.length == 3 && arguments[2].type == 'PEER-LIST') {
            peerList = arguments[2].payload.peers;
            $('#log').append('PEER-LIST ' + JSON.stringify(peerList) + '<br>');
            var navBox = $('#J_NavChatScrollBody');
            navBox.empty();
            var peerActiveAvaliable = false;
            for (var i = 0; i < peerList.length; i++) {
                var peerid = peerList[i][0];
                var peernick = peerList[i][1];
                peerid2nickname[peerid] = peernick;
                if (peerActive == peerid)
                    peerActiveAvaliable = true;
                if (peerid == peer.id)
                    continue;
                var item = $('#peer_listItemTemplate').clone();
                item.removeAttr('id');
                item.attr('peerid', peerid);
                item.find('#peer_nicknameText').text(peernick || peerid);
                item.find('#peer_nicknameAvatar').attr('src', avatarUrl(peernick));
                item.click(function() {
                    var peerid = $(this).attr('peerid');
                    if (!peer.connections[peerid]) {
                        var c = peer.connect(peerid, {
                            label: 'chat',
                            serialization: 'none',
                            metadata: {message: 'hi i want to chat with you!'}
                        });
                        var f = peer.connect(peerid, { label: 'file', reliable: true });
                        c.on('open', function() {
                            connect(this);
                        });
                        c.on('error', function(err) { alert(err); });
                        f.on('open', function() {
                            connect(this);
                        });
                        f.on('error', function(err) { alert(err); });
                    }
                    peerActive = peerid;
                    peer.connections[peerid].numUnread = 0;
                    $(this).find('.peer_numberMessageUnread').hide();
                    updateActiveView();
                });
                navBox.append(item);
            }
            if (!peerActiveAvaliable)
                peerActive = null;
            updateActiveView();
            // autoConnectToFirstPeerForDebug();
        } else {
            var copy = Array.prototype.slice.call(arguments).join(' ');
            $('#log').append(copy + '<br>');
        }
    }
});

var myvideos = {};
peer.on('open', function(id){
    updatePeerNicknameAvatar();
});

peer.on('connection', connect);

peer.on('call', function(c) {
    c.answer(null);
    c.on('stream', function(stream) {
        var callid = c.id;
        var videoDiv = $('<div></div>');
        videoDiv.css('line-height', '0');
        var videoLabel = $('<video></video>');
        videoLabel.addClass('video-streamed');
        videoLabel.attr('autoplay', 'autoplay');
        videoLabel.prop('srcObject', stream);
        videoLabel.attr('controls', 'controls');
        videoLabel.attr('callid', callid);
        var progressLabel = $('<div class="main-progress-bar" style="position: relative; float: left; width: 100%; height: 15px; background-color: #ddd;">' +
            '<div class="progress-bar-mycursor" style="position: absolute; width: 5px; height: 100%; background-color: red; left: 39.6168%;"></div>' +
            '<div class="progress-bar-mycover" style="position: absolute; width: 100%; height: 100%; background-color: rgba(255,255,255,0);"></div>' +
            '</div>');
        progressLabel.find('.progress-bar-mycover').on('click', function(e) {
            specifyConnectionSend(c.peer, 'file', {type: 'call-sync', callid: callid, paused: videoLabel[0].paused, percents: (e.offsetX / $(this).innerWidth())});
        });
        videoLabel.on('pause', function() {
            specifyConnectionSend(c.peer, 'file', {type: 'call-set-pause', callid: callid, paused: true});
        });
        videoLabel.on('play', function() {
            specifyConnectionSend(c.peer, 'file', {type: 'call-set-pause', callid: callid, paused: false});
        });
        videoLabel.on('timeupdate', function(e) {
            var obj = callProgress[callid];
            if (!obj.paused)
                obj.updateTime = (new Date()).getTime();
            var percents = ((obj.updateTime - obj.localTime) / 1000 + obj.remoteTime) / obj.duration;
            percents = Math.max(0, Math.min(1, percents));
            progressLabel.find('.progress-bar-mycursor').css('left', percents * 100 + '%');
        });
        var clearLabel = $('<div></div>');
        clearLabel.css('clear', 'both');
        videoDiv.append(videoLabel);
        videoDiv.append(progressLabel);
        videoDiv.append(clearLabel);
        appendToChatBox(c.peer, videoDiv, false);
    });
});

peer.on('error', function(err) {
    console.log(err);
});

function connect(c) {
    // Handle a chat connection.
    if (c.label === 'chat') {
        var he = peer.connections[c.peer];
        he.chatArea = createChatArea(c.peer);
        he.numUnread = 0;
        c.on('data', function(data) {
            console.assert(data.constructor === String);
            var pre = $('<pre class="js_message_plain"></pre>');
            pre.text(data);
            appendToChatBox(c.peer, pre, false);
        });
        c.on('close', function() {
            var peerid = c.peer;
            var he = peer.connections[peerid];
            if (he.chatArea) {
                he.chatArea.remove();
                delete he.chatArea;
            }
            if (peerid == peerActive)
                peerActive = null;
            updateActiveView();
        });
        updateActiveView();
    } else if (c.label === 'file') {
        c.on('data', function(data) {
            if (data.type == 'image') {
                console.assert(data.file.constructor === ArrayBuffer);
                var dataView = new Uint8Array(data.file);
                var dataBlob = new Blob([dataView]);
                var url = window.URL.createObjectURL(dataBlob);
                var img = $('<img style="max-height: 200px; max-width: 300px;"/>');
                img.attr('src', url);
                appendToChatBox(c.peer, img, false);
            } else if (data.type == 'video') {
                function noname() {
                    var dataView = new Uint8Array(data.file.data);
                    var dataBlob = new Blob([dataView]);
                    var url = window.URL.createObjectURL(dataBlob);
                    var fid = data.file.fid + "";
                    var segid = data.file.segid;
                    fid = fid.substr(2);
                    var video = myvideos[fid];
                    //video.video_dom.src = url;
                    mainbar = $(video.bar_dom).find(".main-bar");
                    var total = video.finfo.total;
                    var segs = video.finfo.segs;
                    var start = segs[segid] / total;
                    var end = segs[segid+1] / total;
                    mainbar.prepend('<div style="position: absolute;left: ' + start*100 + '%;width: '+ (end-start)*100 +'% ;height: 20px;background-color: green;"></div>');
                    video.urls[segid] = url;
                    video.check_play();
                };
                noname();
            } else if (data.type == 'video-info') {
                function noname() {
                    var fid = data.file.fid + "";
                    fid = fid.substr(2);
                    var video = myvideos[fid] = {finfo: data.file, urls:[], c_seg:0, pg:0.0};
                    m = Math.floor(data.file.total/60);
                    s = data.file.total - m*60;
                    var div = $('<div style="position: relative; border-width: 1px;    border-color: #ccc;    border-style: solid;    width: 458px;    padding: 3px;background-color: #f1f1f1;position:relative"><video style="height:375px;width:450px;" id="' + fid + '" class="recieved-video">Your browser does not support the video tag.</video>' +

                    '<video id="v2-' + fid + '"style="height:375px;width:450px; position: absolute; left: 3px; opacity: 0;" class="recieved-video">Your browser does not support the video tag.</video>' +

                    '<div style="margin:0 0 0 0;" class="mybar mybar-' + fid + '"><icon class="play-btn" style="   float: left;"><a>►</a></icon><div class="main-bar" style="position: relative;margin:0 0 0 0;float:left;width: 80%;height: 20px;background-color: black;"><div class="mycursor" style="position: absolute;width: 5px;height: 20px;background-color: red;"></div><div class="mycover" style="position: absolute;width: 100%;height: 20px;background-color: rgba(255,255,255,0);"></div></div>  <div class="mytime" style="float: left; margin-left: 5px;">00:00</div><div> /' + m + ':' + Math.floor(s) +  '</div></div>' +
                    '</div>');
                    appendToChatBox(c.peer, div, false);
                    var video_dom = video.video_dom = $("#"+fid)[0];
                    var video_dom2 = video.video_dom2 = $("#v2-"+fid)[0];
                    var bar_dom = video.bar_dom = $(".mybar-"+fid)[0];
                    var total = video.finfo.total;
                    var segs = video.finfo.segs;
                    var mycover = video.mycover = $(bar_dom).find(".mycover");
                    var mycursor = video.mycursor = $(bar_dom).find(".mycursor");
                    var mybtn = video.mybtn = $(bar_dom).find(".play-btn");
                    var mytime = video.mytime = $(bar_dom).find(".mytime");

                    var videoIsPlaying = false;
                    var switchTimeout = null;

                    var showVideoDom = function(flag) {
                        if ($(video_dom).attr('id').startsWith('v2')) {
                            $(video_dom).css('opacity', flag ? '1' : '0');
                        } else {
                            $(video_dom2).css('opacity', flag ? '0' : '1');
                        }
                    }
                    var switchAfter = function(url, seg, t) {
                        if (video_dom2.src != url) {
                            video_dom2.src = url;
                            video_dom2.currentTime = 0;
                            video_dom2.load();
                        }
                        var playV2 = function() {
                            var t = video_dom;
                            video_dom = video_dom2;
                            video_dom2 = t;
                            showVideoDom(true);
                            video.c_seg = seg;
                            video_dom.play();
                            video_dom2.pause();
                        }
                        if (switchTimeout)
                            clearTimeout(switchTimeout);
                        switchTimeout = setTimeout(playV2, t);
                    }

                    video_dom.onended = function() {
                        return; //!! FIXME
                    }

                    video_dom.ontimeupdate = video_dom2.ontimeupdate = function() {
                        if (!videoIsPlaying)
                            return;
                        var now = video_dom.currentTime + video.finfo.segs[video.c_seg];
                        video.pg = now / video.finfo.total;
                        mycursor.css("left", video.pg*100 + "%");
                        m = Math.floor(now/60);
                        s = Math.floor(now - m*60);
                        video.mytime.html(m + ':' + s);

                        var i = video.c_seg + 1;
                        var url = video.urls[i];
                        if (url) {
                            if (video_dom.currentTime < video_dom.duration)
                                switchAfter(url, i, (video_dom.duration - video_dom.currentTime) * 1000);
                        }
                    }

                    video.check_play = function() {
                        var i = 0;
                        var pts = video.pg * video.finfo.total;
                        for (;i<video.finfo.segs.length && video.finfo.segs[i]<pts; i++);
                        i--;
                        if (i<0) i=0;
                        var url = video.urls[i];
                        if (url) {
                            if (video_dom.src != url) {
                                video_dom.src = url;
                                video.c_seg = i;
                            }
                            video_dom.currentTime = pts - video.finfo.segs[i];
                            showVideoDom(true);
                            if (videoIsPlaying)
                                video_dom.play();
                            else
                                video_dom.pause();
                        }
                    };

                    video.play = function() {
                        var i = 0;
                        var pts = video.pg * video.finfo.total;
                        for (;i<video.finfo.segs.length && video.finfo.segs[i]<pts; i++);
                        i--;
                        if (i<0) i=0;
                        var url = video.urls[i];
                        if (url) {
                            if (video.video_dom.src != url) {
                                video.video_dom.src = url;
                                video.c_seg = i;
                            }
                            video_dom.play();
                        }
                    }

                    mybtn.on("click", function() {
                        if (!videoIsPlaying) {
                            video.play();
                            video_dom.ontimeupdate();
                        } else {
                            video_dom.pause();
                            video_dom2.pause();
                            if (switchTimeout)
                                clearTimeout(switchTimeout);
                        }
                        videoIsPlaying = !videoIsPlaying;
                    });
                    segs.push(total);
                    $(bar_dom).find(".mycover").on('click', function (e) {
                        var pg = e.offsetX / mycover.width();

                        mycursor.css("left", pg*100 + "%");
                        video.pg = pg;
                        video.check_play();
                    });
                };
                noname();
            } else if (data.type == 'call-sync') { // slave to master
                var localVideo = $('video[callid=' + data.callid + ']');
                localVideo[0].currentTime = data.percents * localVideo[0].duration;
                localVideo[0].play();
            } else if (data.type == 'call-set-pause') { // slave to master
                var localVideo = $('video[callid=' + data.callid + ']');
                if (!localVideo[0].paused && data.paused)
                    localVideo[0].pause();
                if (localVideo[0].paused && !data.paused)
                    localVideo[0].play();
            } else if (data.type == 'call-seeked') { // master to slave
                if (callProgress[data.callid] === undefined)
                    callProgress[data.callid] = {}
                callProgress[data.callid].localTime = (new Date()).getTime();
                callProgress[data.callid].remoteTime = data.currentTime;
                callProgress[data.callid].duration = data.duration;
            } else if (data.type == 'call-paused') { // master to slave
                if (callProgress[data.callid] === undefined)
                    callProgress[data.callid] = {}
                callProgress[data.callid].paused = data.paused;
                if (data.paused == false) {
                    var videoLabel = $('video[callid=' + data.callid + ']');
                    if (videoLabel.length > 0)
                        videoLabel[0].play();
                }
            } else {
                console.assert(data.type == 'file');
                // If we're getting a file, create a URL for it.
                console.assert(data.file.constructor === ArrayBuffer);
                var dataView = new Uint8Array(data.file);
                var dataBlob = new Blob([dataView]);
                var url = window.URL.createObjectURL(dataBlob);
                var div = $('<div>You recieved a <a target="_blank">file</a>.</div>');
                div.find('a').attr('href', url);
                appendToChatBox(c.peer, div, false);
            }
        });
    }
}

function sendVideoUsingFfmpeg(toPeerId, file) {
    var arrayBuffer;
    var fileReader = new FileReader();
    var vdiv = $('<div>Video encoding...</div>');
    appendToChatBox(toPeerId, vdiv, true);
    fileReader.onload = function() {
        arrayBuffer = new Uint8Array(this.result);
        fname = file.name.split('.');
        fname = fname[fname.length-1];
        cmd = "-v 40 -i input."+fname + " -acodec copy -f segment -vcodec copy -reset_timestamps 1 -map 0 OUTPUT%d." + fname;
        files = [{name:'input.'+fname, data:arrayBuffer}];
        fid = Math.random();
        myCommand(cmd, files, function(buffers, finfo) {
            if (!buffers.length)
                return;
            finfo.fid = fid;
            var mysvideo = $('<video style="height:375px;width:450px" controls="controls"></video>');
            var url = window.URL.createObjectURL(file);
            mysvideo.attr('src', url);
            vdiv.html("");
            vdiv.append(mysvideo);
            specifyConnectionSend(toPeerId, 'file', {type:"video-info", file:finfo});
            for (var i=0; i<buffers.length; i++) {
                ftype = 'video';
                specifyConnectionSend(toPeerId, 'file', {type:ftype, file:{fid:fid, segid:i,data:buffers[i].data}});
            }
        });
    };
    fileReader.readAsArrayBuffer(file);
}

function sendVideoUsingStream(toPeerId, file) {
    localVideo = $('<video></video>');
    localVideo.addClass('video-streamed');
    localVideo.attr('autoplay', 'autoplay');
    localVideo.attr('src', window.URL.createObjectURL(file));
    localVideo.attr('controls', 'controls');
    appendToChatBox(toPeerId, localVideo, true);
    var localStream = null;
    var reReportProgress = function() {
        specifyConnectionSend(toPeerId, 'file', {type: 'call-seeked', callid: localVideo.attr('callid'), currentTime: localVideo[0].currentTime, duration: localVideo[0].duration});
    };
    var maybeCreateStream = function() {
        if (localStream !== null)
            return;
        if (localVideo[0].captureStream) {
            localStream = localVideo[0].captureStream();
            var callid = peer.call(toPeerId, localStream).id;
            localVideo.attr('callid', callid);
            reReportProgress();
        } else {
            alert('Please enable chrome://flags #enable-experimental-web-platform-features. (Chrome >= 53.0)');
        }
    };
    localVideo.on('canplay', function() {
        maybeCreateStream();
    });
    if (localVideo[0].readyState >= 3) {
        maybeCreateStream();
    }
    localVideo.on('seeked', reReportProgress);
    localVideo.on('pause', function() {
        specifyConnectionSend(toPeerId, 'file', {type: 'call-paused', callid: localVideo.attr('callid'), paused: true});
    });
    localVideo.on('play', function() {
        specifyConnectionSend(toPeerId, 'file', {type: 'call-paused', callid: localVideo.attr('callid'), paused: false});
        reReportProgress();
    });
    localVideo[0].play();
}

$(document).ready(function() {
    $('#browsers').text(navigator.userAgent);

    $('#peer_nickname').focusout(function() {
        var nickname = $('#peer_nickname').text();
        Cookies.set('nickname', nickname, { expires: 365 });
        updatePeerNicknameAvatar();
    });

    $("#editArea").bind("keydown", function(e) {
        var event = e || window.event;
        var code = event.keyCode || event.which || event.charCode;
        if (code == 13) {
            e.preventDefault();
            $("#peer_sendMessage").click();
        }
    });

    $('#peer_sendMessage').click(function() {
        var text = $('#editArea').text();
        if (peerActive && peer.connections[peerActive] && text) {
            activeConnectionSend('chat', text);
            $('#editArea').empty();
            var pre = $('<pre class="js_message_plain"></pre>');
            pre.text(text);
            appendToChatBox(peerActive, pre, true);
        }
    });

    $('.web_wechat_pic').click(function() {
        var toPeerId = peerActive;
        var fileInputLabel = $('<input type="file"/>');
        fileInputLabel.click();
        fileInputLabel.change(function() {
            var file = $(this).prop('files')[0];
            if (file.type.startsWith('video')) {
                sendVideoUsingStream(toPeerId, file);
            } else if (file.type.startsWith('image')) {
                activeConnectionSend('file', {type: 'image', file: file});
                var url = window.URL.createObjectURL(file);
                var img = $('<img style="max-height: 200px; max-width: 300px;"/>');
                img.attr('src', url);
                appendToChatBox(peerActive, img, true);
            } else {
                activeConnectionSend('file', {type: 'file', file: file});
                var url = window.URL.createObjectURL(file);
                var div = $('<div>You sent a <a target="_blank">file</a>.</div>');
                div.find('a').attr('href', url);
                appendToChatBox(peerActive, div, true);
            }
        });
    });

    function doNothing(e) {
        e.preventDefault();
        e.stopPropagation();
    }
    var box = $('body');
    box.on('dragenter', doNothing);
    box.on('dragover', doNothing);
    box.on('drop', function(e) {
        e.originalEvent.preventDefault();
        if (peerActive && peer.connections[peerActive]) {
            var file = e.originalEvent.dataTransfer.files[0];
            if (file.type.startsWith('video')) {
                sendVideoUsingStream(peerActive, file);
                // You can try another method: sendVideoUsingFfmpeg(peerActive, file);
            } else if (file.type.startsWith('image')) {
                activeConnectionSend('file', {type: 'image', file: file});
                var url = window.URL.createObjectURL(file);
                var img = $('<img style="max-height: 200px; max-width: 300px;"/>');
                img.attr('src', url);
                appendToChatBox(peerActive, img, true);
            } else {
                activeConnectionSend('file', {type: 'file', file: file});
                var url = window.URL.createObjectURL(file);
                var div = $('<div>You sent a <a target="_blank">file</a>.</div>');
                div.find('a').attr('href', url);
                appendToChatBox(peerActive, div, true);
            }
        }
    });
});

// Make sure things clean up properly.
window.onunload = window.onbeforeunload = function(e) {
    if (!!peer && !peer.destroyed) {
        peer.destroy();
    }
};

//********
// UTILS
//********

function updatePeerNicknameAvatar() {
    var nickname = Cookies.get('nickname');
    $('#peer_nickname').text(nickname);
    $('#peer_nicknameAvatar').attr('src', avatarUrl(nickname));
    var recurse = function() {
        if (peer.socket._wsOpen())
            peer.socket.send({type: 'USERDEFINED', payload:{type: 'NICKNAME', payload: nickname}});
        else
            setTimeout(recurse, 100);
    };
    recurse();
}

function avatarUrl(email) {
    return 'http://gravatar.com/avatar/' + $.md5(email || '') + '?default=retro';
}

function updateActiveView() {
    $('.peer_listItemChatItem').removeClass('active');
    $('.peer_chatAreaItem').hide();
    $.map($('.peer_chatAreaItem video'), function(v) { v.volume = 0; });
    if (peerActive) {
        $('#J_NavChatScrollBody div[peerid=' + peerActive + '] .peer_listItemChatItem').addClass('active');
        $('#peer_titleName').text(peerid2nickname[peerActive] || peerActive);
        $('#peer_downIcon').show();
        var area = $('.peer_chatAreaItem[peerid=' + peerActive + ']');
        area.show();
        $.map(area.find('video'), function(v) { v.volume = 0.8; });
        $('#peer_noChatHint').hide();
        $('#peer_inputComponent').show();
    } else {
        $('#peer_titleName').text('');
        $('#peer_downIcon').hide();
        $('#peer_noChatHint').show();
        $('#peer_inputComponent').hide();
    }
}

function createChatArea(peerid) {
    chatArea = $('#peer_chatAreaTemplate').clone();
    chatArea.removeAttr('id');
    chatArea.removeAttr('hidden');
    chatArea.attr('peerid', peerid);
    $('#chatArea').append(chatArea);
    return chatArea;
}

function appendToChatBox(peerid, html, mine) {
    var he = peer.connections[peerid];
    if (!he || !(he.chatArea))
        return;
    var chatbox = he.chatArea.find('.peer_chatMessageBox');
    var his = $(mine ? '#peer_chatAreaTemplate .peer_chatMessageMeTemplate' : '#peer_chatAreaTemplate .peer_chatMessageYouTemplate').clone();
    his.removeAttr('id');
    his.removeAttr('hidden');
    var placeholder = his.find('#peer_chatMessageMessagePlaceholder');
    placeholder.empty();
    placeholder.html(html);
    his.find('#peer_chatMessageAvatar').attr('src', avatarUrl(peerid2nickname[peerid]));
    chatbox.append(his);
    chatbox.scrollTop(chatbox.height());
    if (!peerActive)
        peerActive = peerid;
    var unreadHat = $('#J_NavChatScrollBody [peerid=' + peerid + '] .peer_numberMessageUnread');
    if (peerActive != peerid) {
        he.numUnread++;
        unreadHat.text(he.numUnread > 99 ? 99 : he.numUnread).show();
    } else {
        he.numUnread = 0;
        unreadHat.hide();
    }
    updateActiveView();
}

function specifyConnectionSend(peerid, label, data) {
    if (peerid && peer.connections[peerid]) {
        $.each(peer.connections[peerid], function(idx, c) {
            if (c.label == label && c.open)
                c.send(data)
        });
    }
}

function activeConnectionSend(label, data) {
    specifyConnectionSend(peerActive, label, data);
}

function autoConnectToFirstPeerForDebug() {
    if (!peerActive && peerList.length && peer.id != peerList[0][0]) {
        $.each(peerList, function(idx, peertuple) {
            var peerid = peertuple[0];
            if (!peerActive && peerid != peer.id) {
                $('#J_NavChatScrollBody [peerid=' + peerid + ']').click();
            }
        });
    }
}

</script>
</html>
