<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PeerJS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon31e225.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/base31e225.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jQuery.md5.js"></script>
    <script type="text/javascript" src="/js/peer.min.js"></script>
    <script type="text/javascript" src="/js/js.cookie.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <style type="text/css">
.warning {
  font-size: 12px;
  line-height: 20px;
  padding: 10px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #333;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
  font-weight: 300;
  border-width: 1px 0;
  border-color: #000;
  border-style: solid;
}
    </style>
</head>
<body>

    <div class="main" style="display:block">
        <div class="main_inner">
            <div class="panel">
                <div class="header">
                    <div class="avatar">
                        <img id="peer_nicknameAvatar" class="img">
                    </div>
                    <div class="info">
                        <h3 class="nickname">
                            <span id="peer_nickname" class="display_name ng-binding" contenteditable="true"></span>
                            <a class="opt" href="javascript:;"><i class="web_wechat_add"></i></a>
                        </h3>
                    </div>
                </div>
                <div class="search_bar" id="search_bar">
                    <i class="web_wechat_search"></i>
                    <input class="frm_search ng-isolate-scope ng-pristine ng-valid" type="text" placeholder="搜索">
                </div>
                <div class="tab">
                    <div class="tab_item">
                        <a class="chat" title="聊天" href="#"><i class="web_wechat_tab_chat web_wechat_tab_chat_hl"></i></a>
                    </div>
                    <div class="tab_item ng-scope">
                        <a class="chat" title="阅读" href="#"><i class="web_wechat_tab_public"></i></a>
                    </div>
                    <div class="tab_item no_extra">
                        <a class="chat" title="通讯录" href="#"><i class="web_wechat_tab_friends"></i></a>
                    </div>
                </div>
                <div id="navView" class="ng-scope"></div>
                <div class="nav_view ng-scope">
                    <div class="scroll-wrapper chat_list scrollbar-dynamic" style="position: relative;">
                        <div id="J_NavChatScrollBody" class="chat_list scrollbar-dynamic scroll-scrolly_visible">

                            <!-- peer list -->
                            <div class="ng-scope" hidden>
                                <div class="chat_item slide-left ng-scope active">
                                    <div class="avatar">
                                        <img class="img" src="http://gravatar.com/avatar/f5a7924e621e84c9280a9a27e1bcb7f6?default=retro" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text ng-binding">World</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div id="peer_listItemTemplate" class="ng-scope" hidden>
                                <div class="chat_item slide-left ng-scope">
                                    <div class="avatar">
                                        <img class="img" src="http://gravatar.com/avatar/6c5c1441e3283e7543342e59277ea219?default=retro" alt="">
                                    </div>
                                    <div class="info">
                                        <h3 class="nickname">
                                            <span class="nickname_text ng-binding">Tsinghua</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div style="height:100%" class="ng-scope">
                <div id="chatArea" class="box chat ng-scope no-choose">
                    <div class="box_hd">
                        <div class="title_wrap">
                            <div class="title poi">
                                <a class="title_name ng-binding">World</a>
                                <i class="web_wechat_down_icon"></i>
                            </div>
                        </div>
                    </div>
                    <div id="peer_chatAreaTemplate" class="scroll-wrapper box_bd chat_bd scrollbar-dynamic" style="position: absolute;" hidden>
                        <div id="peer_chatMessageBox" class="box_bd chat_bd scrollbar-dynamic " style="top: 0; margin-bottom: 0px; margin-right: 0px; overflow: hidden;">
                            <div class="ng-scope">
                                <div class="clearfix" style="overflow: hidden;">
                                    <div class="message ng-scope me">
                                        <p class="message_system ng-scope"><span class="content ng-binding">Today</span></p>
                                    </div>
                                </div>
                            </div>
                            <div id="peer_chatMessageMeTemplate" class="ng-scope" hidden><!-- MESSAGE -->
                                <div class="clearfix" style="overflow: hidden;">
                                    <div class="message ng-scope me">
                                        <img class="avatar" src="http://gravatar.com/avatar/8b1a9953c4611296a827abf8c47804d7?default=retro" title="Your Name">
                                        <div class="content">
                                            <div class="bubble js_message_bubble ng-scope bubble_primary right">
                                                <div class="bubble_cont ng-scope">
                                                    <div id="peer_chatMessageMessagePlaceholder" class="plain">
                                                        <pre class="js_message_plain ng-binding">message</pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="peer_chatMessageYouTemplate" class="ng-scope" hidden><!-- MESSAGE -->
                                <div class="clearfix" style="overflow: hidden;">
                                    <div class="message ng-scope you">
                                        <img class="avatar" src="http://gravatar.com/avatar/f5a7924e621e84c9280a9a27e1bcb7f6?default=retro" title="Your Name">
                                        <div class="content">
                                            <div class="bubble js_message_bubble ng-scope bubble_default left">
                                                <div class="bubble_cont ng-scope">
                                                    <div id="peer_chatMessageMessagePlaceholder" class="plain">
                                                        <pre class="js_message_plain ng-binding">message</pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_corner"></div><div class="scroll-arrow scroll-arrow_less"></div><div class="scroll-arrow scroll-arrow_more"></div><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_inner-wrapper">        <div class="scroll-element_inner scroll-element_track">            <div class="scroll-element_inner-bottom"></div>        </div>    </div>    <div class="scroll-bar" style="height: 348px; top: 79px;">        <div class="scroll-bar_body">            <div class="scroll-bar_body-inner"></div>        </div>        <div class="scroll-bar_bottom"></div>        <div class="scroll-bar_center"></div>    </div></div></div>
                    </div>
                    <div class="box_ft ng-scope">
                        <div class="toolbar" id="tool_bar">
                            <a class="web_wechat_face" href="javascript:;" title="表情"></a>
                            <a class="web_wechat_screencut ng-isolate-scope" href="javascript:;" title="截屏"></a>
                            <a class="web_wechat_pic js_fileupload ng-isolate-scope webuploader-container" href="javascript:;" title="图片和文件"><div class="webuploader-pick"></div><div id="rt_rt_1b4tmjj8t149219br14cp1jha1ldv1" style="position: absolute; top: 0px; left: 0px; width: 30px; height: 30px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" multiple="multiple"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></a>
                        </div>
                        <div class="content ng-isolate-scope">
                            <pre id="editArea" class="flex edit_area ng-isolate-scope ng-valid ng-dirty" contenteditable="true" ></pre>
                            <span class="caret_pos_helper" id="caretPosHelper"></span>
                        </div>
                        <div class="action">
                            <span class="desc ng-scope">按下Enter换行</span>
                            <a class="btn btn_send" href="javascript:;">发送</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="warning browser">
            <div class="important">Your browser version: <span id="browsers"></span><br>
            Currently <strong>Firefox 22+ and Google Chrome 26.0.1403.0 or above</strong> is required.</div>
            For more up to date compatibility information see <a href="http://peerjs.com/status">PeerJS WebRTC Status</a><br>
            Note that this demo may also fail if you are behind stringent firewalls or both you and the remote peer and behind symmetric NATs.
        <div id="log"><strong>Connection status</strong>:<br></div>
        </div>
    </div>
</body>
<script type="text/javascript">
var chatHistory = {};

/*var */peer = new Peer({
    host: window.location.hostname, port: window.location.port || null, path: '/peerjs',
    config: {'iceServers': [
        { url: 'stun:stun.l.google.com:19302' },
        { url: 'turn:homeo@turn.bistri.com:80', credential: 'homeo' }
    ]},
    debug: 3,
    logFunction: function() {
        if (arguments.length == 3 && arguments[2].type == 'PEER-LIST') {
            var peerList = arguments[2].payload.peers;
            $('#log').append('PEER-LIST ' + JSON.stringify(peerList) + '<br>');
            var domPeerList = $('#peerlist');
            domPeerList.empty();
            for (var i = 0; i < peerList.length; i ++) {
                var item = $('#peerlist-item-template').clone();
                item.removeAttr('id');
                item.attr('peerid', peerList[i][0]);
                item.find('#peerlist-item-nickname').text(peerList[i][1] || peerList[i][0]);
                if (peerList[i][0] == peer.id)
                    item.find('#peerlist-item-nickname').append(' (You)');
                if (peerList[i][0] == $('#rid').val())
                    item.addClass('active');
                domPeerList.append(item);
                item.show();
            }
            $('.peerlist-item').click(function() {
                if ($(this).attr('peerid') == peer.id)
                    return;
                $('.peerlist-item').removeClass("active");
                $(this).addClass('active');
                $("#rid").val($(this).attr("peerid"));
            });
        } else {
            var copy = Array.prototype.slice.call(arguments).join(' ');
            $('#log').append(copy + '<br>');
        }
    }
});

peer.on('open', function(id){
    updatePeerNicknameAvatar();
});

peer.on('connection', connect);

peer.on('error', function(err) {
    console.log(err);
});

function connect(c) {
    // Handle a chat connection.
    if (c.label === 'chat') {
        var he = peer.connections[c.peer];
        he.chatArea = $('#peer_chatAreaTemplate').clone();
        he.chatArea.removeAttr('id');
        he.chatArea.removeAttr('hidden');
        he.chatArea.attr('peerid', c.peer);
        $('#chatArea').append(he.chatArea);
        c.on('data', function(data) {
            var his = $('#peer_chatAreaTemplate #peer_chatMessageYouTemplate').clone();
            his.removeAttr('id');
            his.removeAttr('hidden');
            var pre = $('<pre class="js_message_plain"></pre>');
            pre.text(data);
            his.find('#peer_chatMessageMessagePlaceholder').html(pre);
            he.chatArea.find('#peer_chatMessageBox').append(his);
        });
        c.on('close', function() {
            he.chatArea.remove();
            delete he.chatArea;
        });
    } else if (c.label === 'file') {
        // ignore it
    }
}

$(document).ready(function() {
    $('#browsers').text(navigator.userAgent);

    $('#peer_nickname').focusout(function() {
        var nickname = $('#peer_nickname').text();
        Cookies.set('nickname', nickname, { expires: 365 });
        updatePeerNicknameAvatar();
    });
});

// Make sure things clean up properly.
window.onunload = window.onbeforeunload = function(e) {
    if (!!peer && !peer.destroyed) {
        peer.destroy();
    }
};

//********
// UTILS
//********

function updatePeerNicknameAvatar() {
    var nickname = Cookies.get('nickname');
    $('#peer_nickname').text(nickname);
    $('#peer_nicknameAvatar').attr('src', avatarUrl(nickname));
    peer.socket.send({type: 'USERDEFINED', payload:{type: 'NICKNAME', payload: nickname}});
}

function avatarUrl(email) {
    return 'http://gravatar.com/avatar/' + $.md5(email) + '?default=retro';
}

</script>
</html>
